At first, download sentences and links from [Tatoeba](https://tatoeba.org/eng/downloads)

In [2]:
import pandas as pd
sent_details = pd.read_csv('sentences.csv', 
                           sep='\t', header=None, error_bad_lines=False)
sent_details = sent_details.rename(columns={0:'Sentence id', 1:'Lang',  2:'Text'})

In [3]:
sent_details.head()

   Sentence id Lang                    Text
0            1  cmn                  我們試試看！
1            2  cmn                 我该去睡觉了。
2            3  cmn                 你在干什麼啊？
3            4  cmn                  這是什麼啊？
4            5  cmn  今天是６月１８号，也是Muiriel的生日！

In [5]:
links = pd.read_csv('links.csv', sep='\t', header=None, error_bad_lines=False)
links = links.rename(columns={0:'Sentence id',1:'Translation id'})
links.head()

   Sentence id  Translation id
0            1              77
1            1            1276
2            1            2481
3            1            5350
4            1            5972

In [7]:
sec = sent_details.merge(links)

In [8]:
ndf = sec.merge(sec, left_on=['Sentence id','Translation id'],right_on=['Translation id','Sentence id'], suffixes=(1,2))

In [9]:
ndf.head()

,Sentence id1,Lang1,Text1,Translation id1,Sentence id2,Lang2,Text2,Translation id2
0,1,cmn,我們試試看！,77,77,deu,Lass uns etwas versuchen!,1
1,1,cmn,我們試試看！,1276,1276,eng,Let's try something.,1
2,1,cmn,我們試試看！,2481,2481,spa,¡Intentemos algo!,1
3,1,cmn,我們試試看！,5350,5350,kor,뭔가 해보자!,1
4,1,cmn,我們試試看！,5972,5972,nld,Laten we iets proberen!,1

In [26]:
eng_loj = ndf[(ndf['Lang1']=='jbo') & (ndf['Lang2']=='eng')]

In [25]:
ndf[(ndf['Lang1']=='eng') & (ndf['Lang2']=='jbo')].shape

(11812, 8)

In [27]:
eng_loj.head()

,Sentence id1,Lang1,Text1,Translation id1,Sentence id2,Lang2,Text2,Translation id2
2557620,599308,jbo,le karce cu bredi,46819,46819,eng,The car is ready.,599308
2557666,599316,jbo,le mlatu cu nelci lo nu sipna ne'a mi,44558,44558,eng,The cat likes to sleep beside me.,599316
2557674,599317,jbo,ti du le mi karce,56205,56205,eng,This is my car.,599317
2557692,599321,jbo,dei na jufra,547389,547389,eng,This is not a sentence.,599321
2557710,599329,jbo,lo nanla pu smaji,47434,47434,eng,The boy remained silent.,599329

In [28]:
with open('lojban.txt', 'w') as f1, open('english.txt', 'w') as f2:
    for idx, row in eng_loj.iterrows():
        print(row['Text1'], file=f1)
        print(row['Text2'], file=f2)